html {
	height: 100%;
	width: 100%;
	font-family: Arial;
}

body {
	text-align: center;
	margin: 0px;
}

.background {
	background-image: url("pexels-huy-phan-3153522.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 0px;
	height: 100vh;
	width: 100%;
}

.blur {
	border: 0;
	border-radius: 0px;
	background: rgba(255, 255, 255, 0.2); 
	backdrop-filter: blur(3px); 
	height: 100vh;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	margin-bottom: 10px;
}

li {
	display: inline;
	background-color: #5FCE68;
	border: 2px solid #204422;
	border-radius: 5px;
	padding: 5px;
}

div {
	background-color: #5FCE68;
	width: 60%;
	border: 2px solid #204422;
	border-radius: 5px;
}

#LoginButton {
	float: right;
}

#Introduction {
	margin-bottom: 20px;
}

#Selection {
	padding-top: 5px;
	padding-bottom: 5px;
}

#Result {
	display: none;
}

.child {
	margin: 0 auto;
}
