html {
	height: 100%;
	width: 100%;
	font-family: Arial;
}

body {
	text-align: center;
	margin: 0px;
	height: 100%;
	background-color: #80B580;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form {
	margin: 0px;
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #206020;
	display: inline;
	position: absolute;
	top: 33%;
	left: 50%;
	-ms-transform: translate(-33%, -50%);
	transform: translate(-33%, -50%);
	background-color: #80B580;
}

input {
	margin-bottom: 10px;
}

button {
	margin-right: 10px;
}

.container1 {
	margin: 200px;
	display: inline;
}